.photo-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    transform: translateY(100%);
    padding-bottom: 8rem;
  }

  .photo-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
    align-items: center;
  }

  .photo-1 {
    width: 100%;
    height: auto;
    grid-column: auto / span 6;
  }

  .photo-2 {
    width: 100%;
    height: auto;
    grid-column: auto / span 3;
  }

  .photo-3 {
    width: 100%;
    height: auto;
    grid-column: auto / span 2;
  }

  .photo-subtext-section {
    display: flex;
    justify-content: end;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    padding: auto;
  }

  @media (max-width: 1200px) {
    .photo-section {
      padding: 1rem 0;
    }

    .photo-2,
    .photo-3 {
      grid-column: auto / span 6;
    }
  }